{% load crispy_forms_tags %}
{% load static %}
<head>
        <link href="{% static 'css/login.css' %}" rel="stylesheet">
</head>

  <div class="wrapper fadeInDown">
  <div id="formContent">
      {% if form.errors %}
          <h2 class="text-center" style="color: red">Please enter a correct username and password</h2><br>
      {% endif %}
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{% static 'img/user.png' %}" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form id = "form" method="POST">
        {% csrf_token %}
      <input type="text" id="login" class="fadeIn second" name="username" placeholder="username" required>
      <input type="password" id="password" class="fadeIn third pass" name="password" placeholder="password" required>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">

    </div>

  </div>
</div>
